* text=auto

*.java text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.json text eol=lf
*.svg text eol=lf

/gradlew text eol=lf
/gradlew.bat text eol=crlf
*.cmd text eol=crlf

*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
